.header-bar{
    border-top: 3px solid #8c8b8b;
    width: 100%;
}

.card-orientation{
    height: 28rem;
}

.list-element{
    list-style: none;
    margin-top: 2rem;
}

.list-element:hover{
    color: rgb(52, 52, 190);
}

.btn-txt:focus{
    background-color: rgba(20, 71, 238, 0.788);
}

.btn-txt{
    font-size: 18px;
}

.icon-style{
    font-size: 2rem;
}